<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li> <%== task.completed ?
  '<i class="fas fa-check-square"></i>' :
  '<i class="fas fa-check-square"></i>'%>
  <%= link_to task.title, task_path(task) %> . <%= link_to 'Delete', task_path(task), method: :delete %>  </li>
  <% end %>
</ul>
<p><%= link_to 'Create a new task' , new_task_path  %></p>

